# Run all tests as GitHub Actions
name: Acceptance Tests
on:
  push:
    branches:
      # A test branch for seeing if your tests will pass in your personal fork
      - test_me_github
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  acceptance:
    runs-on:
      - ubuntu-latest
    strategy:
      matrix:
        puppet:
          - label: 'Puppet 7.x [SIMP 6.6/PE 2021.7]'
            puppet_version: '~> 7.0'
            ruby_version: '2.7'
            experimental: false
          - label: 'Puppet 8.x'
            puppet_version: '~> 8.0'
            ruby_version: 3.1
            experimental: true
        beaker:
          - label: beaker
            suite: default
          - label: beaker puppet_collections
            suite: puppet_collections
          - label: beaker ssg
            suite: ssg
          - label: beaker inspec
            suite: inspec

      fail-fast: false
    env:
      PUPPET_VERSION: ${{matrix.puppet.puppet_version}}
    steps:
      - name: checkout repo
        uses: actions/checkout@v2
      - name: setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.puppet.ruby_version }}
      - name: ensure entropy
        run: |
          sudo apt-get update -y
          sudo apt-get install -y rng-tools
          sudo systemctl start rng-tools
      - name: install docker
        run: |
          set -x
          sudo apt-get remove -y podman ||:
          sudo apt-get install -y docker-ce docker docker-engine docker.io containerd runc ||:
          sudo apt-get update
          sudo apt autoremove -y
          sudo systemctl start docker
      - name: install bundler
        run: |
          gem install bundler
          bundle update
      - name: ${{matrix.beaker.label}}
        env:
          BEAKER_SUITE: ${{matrix.beaker.suite}}
        run: |
          bundle exec rake beaker:suites[$BEAKER_SUITE,docker]
          continue-on-error: ${{matrix.puppet.experimental}}
